<html>
    <head>
        <title>Gebyviana's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Gebyviana's Blog</a></h1>
        </div>

        <div>
            <p>published: 26.01.2016, 09:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Alhamdulillah bisa sampai tahap ini juga :D</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Semoga tahap selanjutnya dapat diselesaikan dengan baik :D9</p>
        </div>
    </body>
</html>
